.cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 60px;
}
.card img{
    height: 250px;
}
.card{
    margin: 15px;
    background-color: white;
    border: none !important;
    box-shadow: 1px 1px 4px gray;
    border-radius: 12px;
}
.card:hover{
    cursor: pointer;
    box-shadow: -1px -1px 10px black;
}
.list{
    background-color: whitesmoke;
    padding-top: 10px;
}
/* search bar start */
/* .listSearchBar{
     border: 2px dashed black;
 }



 */
.listSearchBar{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0px 75px;
    background-color: rgba(79, 195, 180, 0.3);
    padding:0px  0px 0px 5px;   
    border-radius: 12px;
    background-color: ghostwhite;
    border: 2px dashed black;
}
.list h1{
    font-family: monospace;
    font-size: 22px;
    letter-spacing: 5px;
    color: white;
    margin: auto 0px;
    padding-top: 8px;
    text-align: center;
    background-color: black;
    opacity: .6;
    height: 44px;
    border-radius: 0px 12px 12px 0px;
}
.searchBar{
    
}
.searchBarContainer{
    display: grid;
    grid-template-columns:1fr;
 }
.searchBar input{
    padding: 10px 20px;
    border-radius: 12px;
    width: 100%;
    border: .1px solid rgba(0, 0, 0, .3);
    border: none;
    background-color: ghostwhite;
    outline: none;
}
.searchBar button{
    margin: 4px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .3);
}
 /* search bar end */