*{
  margin: 0px;
  padding: 0px;
}
.margin0{
  margin: 0px !important;
}
.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: gainsboro;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  border: 5px solid navy;
}
.imageContainer {
  text-align: center;
}
.imageContainer img {
  height: 120px;
}
.loginInp {
  margin: 2px;
  padding: 10px 20px;
  border-radius: 4px;
}
button {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  background: blue;
  color: white;
  border-radius: 5px;
  padding: 4px;
}


.popupBoxShadow{
  border: 2px solid rgb(54, 53, 53);
  box-shadow: 2px 2px 2px black;
}
