*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.adminbg{
  background-color: white;
}
.adminImg img{
  height: 60px;
  width: 50px;
}
.adminDiv{
  background-color: rgb(183, 205, 239);
  border: 2px 2px 2px solid rgb(168, 198, 233);
  box-shadow: 2px 2px 4px rgb(37, 36, 36);
  border-radius: 8px;
}
.adminDiv:hover{
  box-shadow: -2px -2px 8px rgb(37, 36, 36);
}